.custom-lookbook__card-container{
    position: relative;
    margin-bottom: 15px;
}
.custom-lookbook__card-heading{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.custom-lookbook__card-description * {
    font-size: 14px;
    margin: 0 0 20px ;
    color: #000000cc;
    font-weight: 400;

}
.custom-lookbook__card-dot{
    position: absolute;
    top: 0;
}
.custom-lookbook__card-dot::before{
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #ffffff;
    top: 3px;
    left: 3px;
    transition: transform 0.3s ease;
}
.custom-lookbook__card-dot:hover::before {
    transform: scale(1.2);
}
.custom-lookbook__card-dot:hover::after {
    transform: scale(1.2);
}
.custom-lookbook__card-dot::after{
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #000000;
    top: 11px;
    left: 11px;
}
.custom-lookbook__card-product{
    position: relative;
    left : 60px;
    padding: 6px;
    height: auto;
    width: 200px;   
    background: #ffffff;
    border-radius: 16px;
    opacity :0;
    transition: transform 0.3s ease;
}
.custom-lookbook__card-dot:hover .custom-lookbook__card-product{
    opacity: 1;
    transform: translateX(-20px);
}
.custom-lookbook__card-product_content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-lookbook__card-product-image{
    width: 30%;
    border-radius: 16px;
}
.custom-lookbook_product-card-content-text-container{
    width: 70%;
    padding-left: 6px;
}
.custom-lookbook_product-card-content-text-container *{
    color: black;
    text-decoration: none;
}
@media (min-width: 750px){
    .custom-lookbook__card-heading{
        font-size: 26px;
    }
    .custom-lookbook__card-description *{
        font-size: 18px;
    }
}
